@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN" style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>首页</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">

    <!-- body 最后 -->
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
</head>
<body ontouchstart style="background-color:#eee;height:100%">
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div class="weui-tab__bd-item weui-tab__bd-item--active">
                <h1>页面一</h1>
            </div>
            <div class="weui-tab__bd-item">
               
            </div>
            <div class="weui-tab__bd-item">
               
            </div>
            <div class="weui-tab__bd-item">
            </div>
        </div>

        <div class="weui-tabbar">
            <a class="weui-tabbar__item weui-bar__item--on">
                <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
                <div class="weui-tabbar__icon">
                    <img src="./images/icon_nav_button.png" alt="">
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui-tabbar__label">分类</p>
            </a>
            <a class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="./images/icon_nav_article.png" alt="">
                </div>
                <p class="weui-tabbar__label">购物车</p>
            </a>
            <a class="weui-tabbar__item">
                <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">&yen; 8</span>
                <div class="weui-tabbar__icon">
                    <img src="./images/icon_nav_cell.png" alt="">
                </div>
                <p class="weui-tabbar__label">我</p>
            </a>
        </div>
    </div>
</body>
</html>
<script src="~/mylib/common.client.js"></script>
<script type="text/javascript">

    //tabber的切换
    $('.weui-tabbar a').on("click", function () {
        var index = $(this).index();
        $(this).addClass("weui-bar__item--on").siblings().removeClass("weui-bar__item--on");
        $('.weui-tab__bd div').eq(index).addClass("weui-tab__bd-item--active").siblings().removeClass("weui-tab__bd-item--active");
        if ($('.weui-tab__bd-item--active').html().trim() == "") {
            $.showLoading();
            $.ajax({
                url: '/Default/type',
                type: 'get',
                success: function (res) {
                    $('.weui-tab__bd-item--active').html(res);
                    $.hideLoading();
                }
            })
        }
    })
</script>